# NUMERIC DATATYPE

In [1]:
# INTERGER
a=10
print(a)
print(type(a))

10
<class 'int'>

In [3]:
a=10.0
print(a)
print(type(a))

10.0
<class 'float'>

In [5]:
# STRING- ORDERED SEQUENCE OF CHARACTERS
# SINGLE LINE DENOTED BY ' ' OR " " AND
# MULTI-LINE STRING DENOTED BY ''' '''

# INDEXED & IMMUTUABLE
s=""    #empty string 
print(s)
print(type(s))

<class 'str'>

In [10]:
s="decode"
print(s)
print(type(s))
print(s[0])
s[0]="z"
print(s)

decode
<class 'str'>
d

TypeError: 'str' object does not support item assignment

In [11]:
s='''hello
   welcome
    to bhopal.'''
print(s)

hello
   welcome
    to bhopal.

In [13]:
# LIST- Collection of element
# it is denoted by [] with csv.
# indexed,ordered,mutuable and heterogenous in nature
l=[]    # empty list
print(l)
print(type(l))

[]
<class 'list'>

In [16]:
l=[10,20,30,"decode",10.5]
print(l)
print(l[3])    #indexed
l[0]="bhopal"
print(l)

[10, 20, 30, 'decode', 10.5]
decode
['bhopal', 20, 30, 'decode', 10.5]

In [19]:
# TUPLE
#COLLECTION OF ELEMENT
# DENOTED BY () WITH CSV
#ORDERED,INDEXED,IMMUTUABLE AND HETEROGENEOUS
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [20]:
# single value tuple
t=('10.5',)
print(t)
print(type(t))

('10.5',)
<class 'tuple'>

In [1]:
t=(10,20,300,"decode",10.5)
print(t)
print(t[2])
t[2]=400
print(t)

(10, 20, 300, 'decode', 10.5)
300

TypeError: 'tuple' object does not support item assignment

In [2]:
#DICTIONARY
# COLLECTION OF DATAVALUE
# IT is denoted by {k:v} with key:value pair
# ordered,unindexed and mutuable.
#keys...unique
#values--- duplicate
d={}      #empty dictionary  dict
print(d)
print(type(d))

{}
<class 'dict'>

In [4]:
d={"name":"abc","subject":"DA","Fees":"25000"}
print(d)
print(d["name"])
d["name"]="def"
print(d)

{'name': 'abc', 'subject': 'DA', 'Fees': '25000'}
abc
{'name': 'def', 'subject': 'DA', 'Fees': '25000'}

In [5]:
d={}
d["name"]="def"
print(d)

{'name': 'def'}

In [7]:
d={"name":["def","abc","pqr"],"subject":["DA","DA","DS"]}
print(d)
print(d["name"])

{'name': ['def', 'abc', 'pqr'], 'subject': ['DA', 'DA', 'DS']}
['def', 'abc', 'pqr']

In [8]:
# SET- COLLECTION OF ELEMENT
#it is denoted by {} with csv
# unordered,unindexed,mutuable,heterogeneousin nature
# stored unique value.
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [9]:
s={10,10,10,20,10,100,200,"decode","h"}
print(s)
print(type(s))
s.add(1000)
print(s)

{'h', 100, 20, 200, 10, 'decode'}
<class 'set'>
{'h', 100, 20, 200, 1000, 10, 'decode'}